@{
    ViewData["Title"] = "Эксклюзивные ролики - интервью, съемки, разбор фильмов и сериалов. ПОЗНАНИЕ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/css/exclusive.css" />
}

<main class="main-content">
    <div class="ex-title">ЭКСКЛЮЗИВНЫЕ ВИДЕО</div>

    <div class="exclusive-item">
        <div class="video-preview" style="background-image: url('/img/interview1.jpg');">
            <iframe width="500" height="350" src="https://rutube.ru/play/embed/5071b7b5773b4a7b5e17ca60bad1dcd5/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="exclusive-description">
            <p class="desc-label">"Профессия Актёр" - интервью с Петром Рыковым</p>
            <div class="desc-text">
                Быть или не быть? Вот в чём вопрос!
                <p>
                    Актёр театра и кино Пётр Рыков рассказал о своём творческом пути, как он попал в кино и дал напутствие начинающим актерам.
                    Образование, суеверие, интимные сцены в кино, телевидение, театр, график и как он влияет на личную жизнь актера … А также стоит ли выбирать себе в спутники жизни человека с профессией – Актер…?
                </p>
                <p>Об этом и многом другом в нашем выпуске, Приятного просмотра </p>
            </div>
        </div>
    </div>

    <div class="exclusive-item">
        <div class="video-preview" style="background-image: url('/img/interview2.jpg');">
            <iframe width="500" height="350" src="https://rutube.ru/play/embed/ba04adac388b4a32e2505b0433dc38f4/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="exclusive-description">
            <p class="desc-label">«Женский доктор»: Какой Петр Рыков на самом деле</p>
            <p class="desc-type">Фильм: Женский доктор</p>
            <div class="desc-text">
                Что на самом деле скрывается за белоснежным халатом самого харизматичного врача на телеэкране? В откровенном разговоре звезда сериала «Женский доктор» приоткрывает завесу тайны: как роль изменила его взгляд на жизнь, какие трогательные и шокирующие истории случались на съёмочной площадке, и почему этот проект стал для него гораздо больше, чем просто работа.
                <p>Об этом и многом другом в нашем выпуске, Приятного просмотра </p>
            </div>
        </div>
    </div>

    <div class="exclusive-item">
        <div class="video-preview" style="background-image: url('/img/interview2.jpg');">
            <iframe width="500" height="350" src="https://rutube.ru/play/embed/eb0cb78dadc6a73503d400fbd69169ce/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="exclusive-description">
            <p class="desc-label">Актеры второго сезона Уэнсдей отвечают на забавные вопросы</p>
            <p class="desc-type">Сериал: Уэнсдей, 2 сезон</p>
            <div class="desc-text">
                Отложите ворону и скрипку: Дженна Ортега и ее коллеги по цеху отвечают на самые безумные вопросы о втором сезоне! Кто самый большой проказник на площадке? Кто забыл свои реплики самым забавным образом? Приготовьтесь к хаосу и откровениям, которые даже Тингл не смог бы предсказать.
                <p>Об этом и многом другом в нашем выпуске, Приятного просмотра </p>
            </div>
        </div>
    </div>

    <div class="exclusive-item">
        <div class="video-preview" style="background-image: url('/img/interview2.jpg');">
            <iframe width="500" height="350" src="https://rutube.ru/play/embed/fd4cce6f671dea4dfef2ce1a69998755/" style="border: none;" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="exclusive-description">
            <p class="desc-label">Игра престолов - прощание актеров с сериалом</p>
            <p class="desc-type">Сериал: Игра престолов</p>
            <div class="desc-text">
                После восьми лет правления на телеэкранах наступила зима. Актеры «Игры престолов» делятся прощальными словами и самыми сокровенными воспоминаниями со съемок. Узнайте, что они забрали с площадки на память, с какими монологами прощались дольше всего и какие слезы лились в последний день.
                <p>Об этом и многом другом в нашем выпуске, Приятного просмотра </p>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    
}